@font-face {
    font-family: 'Cheerful Morning';
    src: url('./assets/Fonts/cheerfulmorning-webfont.woff2') format('woff2'),
         url('./assets/Fonts/cheerfulmorning-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Jost';
    font-weight: 400;
    src: url('./assets/Fonts/jost-regular.woff2') format('woff2'),
         url('./assets/Fonts/jost-regular.woff') format('woff');
}

@font-face {
    font-family: 'Jost Semibold';
    font-weight: 600;
    src: url('./assets/Fonts/jost-semi-bold.woff2') format('woff2'),
         url('./assets/Fonts/jost-semi-bold.woff') format('woff');
}

@font-face {
    font-family: 'Lexend Exa';
    font-weight: 400;
    src: url('./assets/Fonts/lexend-exa-regular.woff2') format('woff2'),
         url('./assets/Fonts/lexend-exa-regular.woff') format('woff');
}

@media (max-width: 420px) {
    h1 {
        font-size: 8vw !important;
    }
    h2 {
        font-size: 7.5vw !important;
        text-align: center !important;
    }
    h3 {
        font-size: 5vw !important
    }
    h4 {
        font-size: 5vw !important
    }
    a {
        font-size: 3.75vw !important
    }
    p {
        font-size: 4vw !important
    }
    strong {
        font-size: 10vw !important
    }

    .custom-nav {
        padding: 0 !important;
        padding-top: 1em !important;
    }
    .sidebar {
        background-color: #0047BB;
    }

    .landingPage {
        background-image: url(./assets/LandingBGMobile.png) !important;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 70svh !important;
    }
    .landingCenter {
        margin-top: 1em !important;
    }
    .landingCenter h2 {
        font-size: 1rem !important;
        margin-top: .5em !important;
    }
    .landingCenter p {
        margin-bottom: .5em !important;
        font-size: .75em !important;
    }
    #landingNames {
        width: 40% !important;
    }
    .locationColumn {
        justify-content: flex-start;
        width: 90% !important;
        height: 100%;
    }
    #landingScallop {
        margin-top: -2em !important;
    }

    .detailsPage {
        margin: 0 !important;
    }
    .detailsPage h1{
        margin-bottom: 0 !important;
    }

    #ceremony {
        margin-bottom: 4em !important;
    }

    #schedule {
        margin-bottom: 0 !important;
    }
    #scheduleText {
        width: 70% !important;
    }

    .locationDetails {
        margin: 0;
    }
    .locationDetails img {
        width: 100% !important;
    }

    .schedRow {
        flex-direction: column;
        margin-bottom: 2em !important;
        padding: 1.5em !important
    }
    .schedRow img {
        width: 70%;
        margin: 0;
    }

    .attireClass {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 0 !important;
    }
    .attireClass img {
        width: 90% !important;
    }
    .attirePage {
        padding-left: 0 !important; 
        padding-right: 0 !important;
        margin-top: 0rem !important;
        margin-bottom: 1rem !important;
    }
    .attirePage h1 {
        padding: 0;
    }
    .attireDescription p {
        text-align: center !important;
    }
    .attireDescription {
        max-width: 100% !important;
    }
    .attireNote {
        width: 80% !important;
    }

    .giftsPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em !important;
        padding: 2em;
        width: 100%;
    }
    #gift h1, p {
        padding: 0;
        text-align: center;
    }
    #gift p {
        font-size: .9rem !important; 
    }
    #gift span {
        font-size: 1rem !important;
    }
    #gcashQR {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em;
        border-style: solid;
        border-width: .3em !important;
        border-radius: 15px;
        border-color: #0047BB;
        padding: 1em 0;
        margin-top: 1.5em !important;
        width: 100% !important;
    }
    #gcashQR img {
        margin-bottom: 1em;
    }
    #qrCode {
        width: 80%;
    }
    #gcashLogo {
        width: 40%;
    }

    .faqPage {
        width: 90% !important;
        margin: 2em !important;
    }
    .accordion-button {
        font-size: 4vw !important;
    }

    .gallery-photo:not(:first-child) {
        display: none;
    }

    .gallery-photo {
        width: 100%;
        padding: 2em;
    }

    #rsvpScallop {
        margin-bottom: -.5rem !important;
    }
    .rsvpPage {
        padding: 2em !important;
    }
    .rsvpForm {
        padding: 1em !important; 
    }

    #footerScallop {
        margin-bottom: 0rem !important;
    }
}

@media (max-width: 1220px) {
    .drivePath {
        display: none;
    }
}

h1 {
    font-family: 'Jost';
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    padding: 1rem 0;
}

h2 {
    font-size: 3rem;
    font-family: 'Jost';
    font-weight: 500;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-family: 'Jost';
    font-weight: 500;
    text-align: center;
}

h4 {
    font-size: 2rem;
    font-family: 'Jost';
    font-weight: 350;
    text-align: center;
}

.attirePage h2 {
    text-align: start;
    font-weight: 600;
    font-size: 3rem;
}

a {
    font-family: 'Lexend Exa';
    font-size: 1.5rem;
    font-weight: 400;
    color: #9A0051;
    margin: 0 1em;
}

.rsvpPage a {
    text-align: center;
    font-family: 'Lexend Exa';
    color: #FBF6EE;
    margin: 0;
    font-size: 1rem;
}

.attireClass a {
    font-size: 2rem;
    font-weight: 350;
    text-decoration: underline;
    padding-bottom: 1rem;
}

p {
    font-family: 'Jost';
    font-size: 2rem;
    font-weight: 700;
}

.attireClass p {
    font-size: 2rem;
}

strong {
    font-family: 'Cheerful Morning';
    font-size: clamp(3rem, 1.974rem + 4.211vw, 4.5rem);
    text-align: center;
}

body {
    font-family: 'Jost';
    background-color: #FBF6EE;
    margin: 0px;
}

.custom-nav {
    padding: 4em;
}

.navbarLinks a {
    font-family: 'Jost';
    font-size: 1em;
}

.landingPage {
    margin: 0;
    background-image: url(./assets/LandingBG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 200svh;
    display: flex;
    flex-direction: column;
}

.landingCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3em;
}

#landingNames {
    width: 25%;
    margin-top: -2em;
    margin-bottom: -1.5em;
}

.scallop {
    width: 100%;
}

#landingScallop {
    margin-top: -3em;
}

#rsvpScallop {
    margin-bottom: -2rem;
}

#footerScallop {
    margin-bottom: -2rem;
}

.heading {
    font-family: 'Cheerful Morning';
    font-size: 4vw;
    font-style: normal;
    font-weight: 300;
}

.subHeading {
    font-family: 'Jost';
    font-size: 2vw;
    font-weight: 500;
    margin: 1vw;
}

.bodyText {
    font-family: 'Jost';
    color:#0047BB;
    font-size: 1.8vw;
    font-weight: 400;
    margin: 1vw;
}

.footerText {
    font-family: 'Lexend Exa';
    font-size: 1.6vw;
    font-weight: 350;
    margin: 0.5vw 2vw 0.5vw 2vw;
}

.loginPage {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10vh 20vw;
    background: #0047BB;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loginPage h1 {
    font-family: 'Jost';
    font-size: 3vh;
    font-style: normal;
    font-weight: 475;
    color: #FBF6EE;
    text-align: center;

    opacity: 0;
    animation: fadeIn .4s ease-in forwards;
}

.loginPage h2 {
    font-family: 'Jost';
    font-size: 2vh;
    font-weight: 400;
    color: #FC936F;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4vh
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0047BB;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 1vw; 

    opacity: 0;
    animation: fadeIn .6s ease-in forwards;
}

.loginForm label, p {
    font-family: 'Jost';
    color:#C3D8E7;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

.loginForm .input-box {
    height: 40px;
    width: 100%;
    position: relative;
}

.loginForm .input-box input {
    height: 100%;
    width: 100%;
    margin: 1vh 0 1vh 0;
    border: none;
    border-bottom: 2px solid #FBF6EE;
    color: #C3D8E7;
    outline: none;
    background-color: transparent;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    transform: translateY(-20px);
}

.loginForm label {
    position: absolute;
    bottom: 0px;
    left: 0;
    color: #C3D8E7;
    pointer-events: none;;
    transition: all 0.3s ease;
}

.loginForm button {
    height: 5vh;
    width: 50%;
    color: #0047BB;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 3vh;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #C3D8E7;
    border-radius: 8px;
}

.loginForm button:hover {
    background: #fbf6ee;
}

.rsvpPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0047BB;
    width: 100%;
    padding: 5em 0;
}

.rsvpForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 4em;
    width: 100%;
    box-sizing: border-box;
}

.rsvpForm textarea {
    width: 100%;
}

.form-part {
    margin-bottom: 2em;
}

#rsvp-form label{
    color: #FBF6EE;
    font-size: 1.25em;
}

#rsvp-form p {
    text-align: start;
}

.rsvp-input::placeholder {
    color: #C3D8E7;
}

.rsvp-input {
    height: 100%;
    width: 100%;
    margin: 1vh 0 1vh 0;
    border: none;
    border-bottom: 2px solid #FBF6EE;
    color: #C3D8E7;
    outline: none;
    background-color: transparent;
}

.form-select {
    width: 5rem;
}

.loading-spinner { 
    display: none; 
}

.main-box {
    width: 100%;
}

.main-option .main {
    margin-top: 1vh;
}

.rsvpForm button {
    height: auto;
    width: auto;
    padding: .5em 1.7em;
    color: #0047BB;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2vh;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #FBF6EE;
    border-radius: 4px;
}

.rsvpForm button:hover {
    background: #fbf6ee;
}

.custom-btn{
    color: #0047BB;
    background-color: #FBF6EE;
    font-family: 'Jost';
    font-weight: 600;
    border-radius: .5em;
    padding: .5em 1.25em;
}

.custom-btn:hover {
    background: #0047BB;
    color: #FBF6EE;
}

.pageBreak {
    background-color: #f2533F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    width: 100%;
}

.pageBreak h1 {
    color: #FBF6EE;
    text-align: center;
}

.pageBreak button:hover {
    background: #fc936f;
    color: #FBF6EE;
}

.pageBreak button {
    height: auto;
    width: auto;
    padding: 1vh;
    color: #0047bb;
    background: #FBF6EE;
    font-family: 'Jost';
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease;
}

.mainPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailsPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2em 0;
    padding: 2em;
}

.detailsRow {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    max-height: 120svh;
}

#ceremony {
    margin-bottom: 10em;
}

.locationColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin: 0 -8em;
}

.locationDetails {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.locationDetails img {
    width: 50%;
}

.mapLinks {
    width: 100%;
    display: flex;
    justify-content: center;
}

.attirePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5em;
    width: 80%;
    border-style: solid;
    border-width: .4em;
    border-radius: 15px;
    border-color: #f2533F;
    padding: 2em;
}

.attireRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.attireClass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;
}

.attireClass img{
    width: 30%;
    margin: 0 4em;
}

.attireDescription {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 50%;
}

.attireDescription p {
    text-align: start;
}

.attireNote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    width: 60%;
    background-color: #f2533F;
    border-radius: 2em;
}

.attireNote p, h3 {
    text-align: center;
    margin: 0;
}

.giftsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    padding: 2em;
}

#gift h1, p {
    padding: 0;
    text-align: center;
}

#gift p {
    font-size: 2.5rem;
}

#gcashQR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-style: solid;
    border-width: .4em;
    border-radius: 15px;
    border-color: #0047BB;
    padding: 2em 0;
    margin-top: 3em;
    width: 70%;
}

#gcashQR img {
    margin-bottom: 1em;
}

#qrCode {
    width: 80%;
}

#gcashLogo {
    width: 40%;
}

.schedPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.schedRow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.schedRow img {
    min-width: 18%;
    margin: 0 2em;
}

.faqPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4em 0;
    width: 40%;
}

#photos {
    margin: 4em 0;
    width: 80%;
}

.photoGallery img {
    width: 200px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f2533F;
    padding: 3em;
}

.navbar-toggler-icon {
    height: 5em;
    width: 5em;
}

.accordion {
    width: 100%;
    margin-bottom: 5vh;
    background-color: #FBF6EE;
}

.accordion-body {
    background-color: #FBF6EE;
}

.accordion h2, span{
    font-family: 'Jost';
    font-size: 1.5vw;
    font-weight: 500;
    color: #0047BB;
}

.accordion p {
    font-family: 'Jost';
    color:#0047BB;
    font-size: 1vw;
    font-weight: 400;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

.accordion-item {
    border: 0;
    background-color: #FBF6EE;
}

.accordion-button {
    color: #0047BB;
    font-size: 1.5rem;
    background-color: #FBF6EE;
    margin-bottom: 1rem;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #FBF6EE;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

.cards-wrapper {
    display: flex;
}

.card {
    width: calc(100%/3);
    margin: 0 0.5em;
    border: none;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.gallery-photo {
    padding: 2em;
    filter: drop-shadow(-2px 4px 4px #9C9C9C);
}

.carousel-control-prev, .carousel-control-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFDF3;
    width: 6vh;
    height: 6vh;
    border: solid;
    border-color: #0047BB;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.carouselArrows {
    font-family: 'Cheerful Morning';
    font-size: 3rem;
    margin-top: -.3em;
}

